@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common */
@import url('./Assets/CSS/Common/Wrappers.css');
@import url('./Assets/CSS/Common/TextStyles.css');

/* Components */
@import url('./Assets/CSS/Components/HomeBanner.css');
@import url('./Assets/CSS/Components/Buttons.css');
@import url('./Assets/CSS/Components/freeDemo.css');

:root {
    --bg-color: #020202;
    --btn-red-color: rgb(234, 1, 29);
    --std-border-radius: 15px;
    --std-text-color: #fff
}

body {
    background-color: var(--bg-color);
}