:root {
    --btn-border: #adadad;
}

body {
    margin: 0;
    background-color: yellow !important;
    /* overflow: hidden; */
}

table {
    width: 100%;
    height: 100%;
}

.homeWrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: deeppink;
    margin: auto;
}

.homeWrapper .buttonGroup {
    justify-content: space-around;
    align-items: end;
    height: 100%;
}

.wrapper {
    height: 100%;
    position: relative;
}

.homeWrapper .unlockForm {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.formWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.formWrapper label {
    color: black;
    font-weight: 700;
}

.homeWrapper .unlockForm .status {
    color: black;
    font-weight: 700;
}

.homeBtn {
    width: 100%;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #454545;
    border-radius: 3px;
    outline: none;
}

.loginWrapper {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

.loginInput {
    border: 1px solid var(--btn-border);
    border-bottom: 1px solid #000;
}

.loginInput:focus {
    background-color: darksalmon;
    border-bottom: 1px solid rgb(0, 89, 255);
    outline: none;
}

.loginButton {
    border: 1px solid var(--btn-border);
    border-radius: 5px;
    color: #000;
}

#res_sofar_div {
    width: 100%;
    height: 220px;
    margin-top: 15px;
    /* background-color: red; */
    /* position: relative;
    top: 40px; */
}

#res_sofar_table tr td {
    width: 200px;
    height: 33px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    background-color: red;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #fff;
}

#oldresid {
    color: white;
}

@keyframes popup_slide {
    from {
        left: 25%;
    }

    to {
        left: 225%;
    }
}

.oldres {
    width: 150px;
    /* width: 1%;
    min-width: 40px; */
    /* min-height: 40px; */
    height: 50px;
    text-align: center;
    border: 1px solid black;

    position: relative;
    margin: 0%;
    padding: 0%;

    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
}

.tablerow {
    width: 1%;
    white-space: nowrap;
    width: 100%;
    overflow-x: visible;
}

.td_betinp {
    align-content: center;
    align-items: center;
    text-align: center;
    /* Center the content horizontally */
    vertical-align: middle;
    /* Center the content vertically */
    border: 1px solid black;
}

.betinput {
    width: 75%;
    border-radius: 4px;
    border: 1px solid #454545;
    margin-bottom: 5px;
    -moz-appearance: textfield;
    height: 40px;
    font-size: 28px;
    margin-top: 5px;
}

.gameInputText {
    border: 1px solid #45454575;
    font-size: 18px;
    width: 200px;
}

.spacer {
    display: block;
    margin-top: 15%;
    /* Adjust the height as needed */
    content: "";
    /* For styling purposes */
    border: none;
    /* Remove default border */
}

#buttonholder {
    border: 1px solid black;
    /* height: 565px; */
    /* width: 75%; */
    /* position: absolute; */
    /* top: 8%; */
    /* left: 23%; */
    background-color: #47e315;
    transform: scaleY(0.9);
    margin-top: -30px;
}

@keyframes sizeChange {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.gameWrapper .headerRow {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.gameWrapper .headerRow h1 {
    color: #ce0b00;
    font-size: 50px;
    font-weight: 600;
}

.gameWrapper .gameRow .col-3 .headerRow label,
.gameRow .headerRow .col-6 label {
    display: block;
}

.gameWrapper .headerRow label {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.gameWrapper .buttonsRow {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gameWrapper .buttonsRow .btnItem {
    width: 90px;
    margin-right: 15px;
}

.gameWrapper .buttonsRow .btnItem label {
    font-size: 14px;
    font-weight: 700;
}

.gameWrapper .buttonsRow .btnItem label span {
    color: red;
}

.gameWrapper .buttonsRow .gamebutton {
    background-color: rgb(0, 255, 255);
    color: #000000;
    /* padding: 5px 5px; */
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    border: 1px solid var(--btn-border);
}

.buttonsRow.b .gamebutton {
    background-color: #ffddb8;
    height: 25px;
    font-size: 14px;
}

label.totalBet {
    width: 70px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: #ffddb8;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border: 1px solid var(--btn-border);
    border-bottom: 1px solid #000;
}

#buybuttonXD {
    background-color: #fa544b !important;
}

.gameRow #betinputpanel label {
    display: block;
    font-size: 18px;
    /* color: #212124; */
    color: #000;
    font-weight: 700;
    /* text-align: center; */
}

.gameRow #betinputpanel tr td {
    text-align: center;
    line-height: 22.5px;
}

.gameRow #betinputpanel input {
    width: 90%;
    height: 30px;
    border: 1px solid #454545;
    outline: none !important;
}

/* .gameRow #betinputpanel input.selected {
    background-color: red !important;
} */


.gameRow #betinputpanel input:focus {
    background-color: red !important;
    font-weight: 400;
}

.gameRow #betinputpanel tr td:last-child input,
.gameRow #betinputpanel tr:last-child td input {
    background-color: coral;
}

.gameRow .imgWrapper {
    width: 260px;
    height: 260px;
    overflow: hidden;
}

.gameRow .imgWrapper img {
    object-fit: unset;
    width: 100%;
    height: 100%;
}

.gameRow .imgWrapper2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 210px;
    /* animation: sizeChange 1s infinite alternate ease-in-out; */
}

.gameRow .imgWrapper2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* animation: sizeChange 1s infinite alternate ease-in-out; */
}

#stones_table .oldres div {
    padding: 10px 0;
    border: 1px solid black;
}

@media only screen and (min-width: 1100px) {

    .gameRow .imgWrapper {
        width: 240px;
        height: 295px;
        overflow: hidden;
    }

    .gameRow .imgWrapper2 {
        width: 175px;
        height: 240px;
    }

    .gameRow .imgWrapper img {
        object-fit: unset !important;
    }

    .gameRow #betinputpanel label {
        font-size: 16px;
        font-weight: 800;
    }

    #res_sofar_div {
        height: 186px;
    }

    #res_sofar_table tr td {
        font-size: 20px;
    }

    .buttonsRow.stoneGroup {
        margin-top: -30px;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
    .gameRow #betinputpanel label {
        font-size: 13px;
        font-weight: 900;
        width: 100%;
        letter-spacing: -1px;
    }

    .gameRow #betinputpanel input {
        height: 25px;
    }

    #buttonholder {
        margin-top: 10px;
        transform: inherit;
    }

    .buttonsRow.stoneGroup {
        margin-top: 0px;
    }

}

@media only screen and (min-width: 1024px) {
    .gameRow #betinputpanel label {
        font-size: 15px;
        letter-spacing: 0px;
        font-weight: 900;
    }
}

@media only screen and (min-width: 990px) {
    .gameRow #betinputpanel label {
        font-size: 15px;
    }
}



.imgWrapper {
    position: relative;
}

.imgWrapper:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%);
    animation: hoverAnimation 1.5s infinite;
    /* Adjust the animation duration as needed */
}

@keyframes hoverAnimation {
    0% {
        opacity: 0;
        top: -110%;
        left: -210%;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: -30%;
        left: -30%;
        opacity: 0;
    }
}

button {
    position: relative;
    overflow: hidden;
}

button:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
    /* Animation */
}

@keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

.imgWrapper.status {
    width: 100px;
    height: 80px;
    margin-left: auto;
    overflow: hidden;
}

.imgWrapper.status img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.react-clock__mark__number {
    top: 0% !important;
}

.reportPanel {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: yellow;
    width: 90%;
    height: 90%;
    border: 1px solid #000;
    padding: 10px;
}

.reportPanel .botPart,
.reportPanel .topPart {
    border: 1px solid #000;
    padding: 5px;
}

.reportPanel .topPart {
    display: flex;
}

.reportPanel .detailsWrapper {
    border: 1px solid #000;
    height: 75vh;
    overflow-y: auto;
}

.reportPanel .detailsWrapper .heading {
    background-color: #9d9d9d;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.betInfoTable thead tr {
    background-color: blue;
    color: #fff;
    height: 40px;

}

.betInfoTable thead th {
    border: 1px solid #9d9d9d;
    text-align: center;
}

.betInfoTable tbody tr {
    background-color: #fff;
}

.betInfoTable tbody td {
    border: 1px solid #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.showResultScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1976d2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showResultScreen .infoBox {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    color: yellow;
    width: 300px;
}

.showResultScreen .infoBox h2 {
    font-size: 32px;
    text-align: center;
}

.showResultScreen .resultBox {
    background-color: yellow;
    color: red;
    padding: 10px;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showResultScreen .resultBox h1 {
    font-size: 90px;
}

.showResultScreen .resultBox h1 label {
    width: 100px;
}

.showResultScreen .resultTime {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.showResultScreen .resultTime label {
    color: #fff;
}