.loader {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
  /* background-color: #d5d5d5; */
  position: absolute;
  top: 0;
  left: 0;
}

.loader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginWrapper .loginImage{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

.loginFormWrapper {
  position: absolute;
  bottom: 75px;
  left: 50px;
  width: 300px;
  /* border: 1px solid #83838387; */
  border: 2px solid #fff;
  backdrop-filter: blur(5px);
  background-color: #00000030;
  padding: 5px;
}

.loginWrapper .formWrapper label {
  color: #fff;
}

.loginButtonsWrapper {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 75px;
  right: 50px;
}

.loginButtonsWrapper .btnImageWrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 20px;
  box-shadow: inset 3px 3px 5px 0 rgba(255, 255, 255, 0.5),
    inset -2px -3px 5px 0 rgba(0, 0, 0, 0.5);
}

.loginButtonsWrapper .btnImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginWrapper .logoWrapper {
  position: absolute;
  top: 50px;
  right: 40px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #00000080;
  padding: 5px 10px;
  border-radius: 10px;
}

.loginInput {
  border: 1px solid var(--btn-border);
  border-bottom: 1px solid #000;
  /* font-size: 18px; */
}

.loginInput:focus {
  background-color: darksalmon;
  border-bottom: 1px solid rgb(0, 89, 255);
  outline: none;
}

.loginButton {
  background-color: red;
  border: none;
  color: #fff;
  width: 95%;
  box-shadow: inset 3px 3px 5px 0 rgba(255, 255, 255, 0.5),
    inset -2px -3px 5px 0 rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.formWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.formWrapper label {
  color: black;
  font-weight: 700;
  font-size: 16px;
}

@media only screen and (min-width: 1280px) {
  .loginWrapper .logoWrapper {
    top: 30px;
    right: 5px;
  }

  .loginFormWrapper {
    left: 75px;
  }

  .loginButtonsWrapper {
    right: 75px;
  }
}