


.gamebutton {
    border: 1px solid black;
   
   bottom: 0;
    margin-right:0%; /* Use right instead of margin-right for positioning */
    width: 15%;
    height: auto;
    font-size: 26px; /* Specify the unit (px) for font-size */
  }



body
{
    background-color: yellow;
}
td
{
   
    align-content: center;
    align-items: center;
    text-align: center; /* Center the content horizontally */
    vertical-align: middle; /* Center the content vertically */
    border: 1px solid black;
  
   
}


label
{
  font-family: 'Courier New', Courier, monospace,bold;
  font-weight: bolder;
}

.betinput
{
    width: 40%;
}
.spacer
{ display: block;
    margin-top : 15%; /* Adjust the height as needed */
    content: ""; /* For styling purposes */
    border: none; /* Remove default border */
}

#card
{
  
    animation: sizeChange 1s infinite alternate ease-in-out;

}

  @keyframes sizeChange {
    from {
      transform: scale(0,0.5);
    }
    to {
      transform: scale(0.8,0.5);
    }
  }