h1,
h3 {
    font-family: Roboto;
    margin-bottom: 0;
}

p {
    font-family: Poppins;
    margin-bottom: 0;
}

span {
    font-family: Poppins;
}

.content span {
    color: var(--std-text-color);
    font-weight: 200;
    letter-spacing: 3px;
}

.content h1 {
    color: var(--std-text-color);
    font-weight: 700;
}

.content h3 {
    color: var(--std-text-color);
    font-weight: 500;
    margin-bottom: 0;
}

.content p {
    color: var(--std-text-color);
    font-weight: 300;
}

.marqueeText {
    font-size: 90px;
    font-weight: 700;
    font-family: Poppins;

}

.marqueeText .marqueeText__item {
    background: linear-gradient(to right,
            var(--text-highlight) 20%,
            var(--text-highlight2) 30%,
            var(--text-highlight2) 70%,
            var(--text-highlight) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }

}